<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/hplus/css/bootstrap.min.css">
    <title>登录 --我的博客</title>
</head>

<body>
    <div class="container" style="width:500px;">
        <h3>login</h3>
        <form>
            <div class="form-group">
                <label for="exampleInputEmail1">account</label>
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
            <div class="checkbox">
                <label>
                <input type="checkbox"> 自动登录
              </label>
            </div>
            <button type="button" class="btn btn-default">登录</button>
        </form>


    </div>

</body>
<script src="/static/hplus/js/bootstrap.min.js"></script>

</html>